
@{
    ViewBag.Title = "Dathangthanhcong";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<p style="text-align:center"><img src="~/wwwroot/Images/successpayment.jpg" width="300" /></p>
<p style="text-align:center; font-size: 18px">Đặt hàng thành công</p>
<br />
<p style="text-align:center;"><a href="@Url.Action("Index", "Home")" style="padding: 10px 40px; background-color: #C92127; border-radius:3px; color: white; text-decoration: none">Tiếp tục mua sắm</a></p>
<br />

