<div style="text-align: center; width: 33%; float: left;">
    <p style="font-size: 24px; margin:0px">
        <a href="@Url.Action("XemGioHang","GioHang")" style="color:black"><i class="fas fa-shopping-cart"></i></a>
        @ViewBag.TongSoLuong
    </p>
    <p style="margin:0px"><a href="@Url.Action("XemGioHang","GioHang")" style="text-decoration:none; color: black">Giỏ hàng</a></p>
</div>
