
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 style="text-align:center">Đổi mật khẩu</h2>
@using (Html.BeginForm("ChangePassword", "Home"))
{
    <p style="text-align:center"><label>Mật khẩu cũ</label></p>
    <p style="text-align:center"><input name="oldpassword" type="password" /></p>
    <p style="text-align:center"><label>Mật khẩu mới</label></p>
    <p style="text-align:center"><input name="newpassword" type="password" /></p>
    <p style="text-align:center"><button style="padding: 5px 10px; color: white; background-color: #c92127; border: 1px solid #c92127; border-radius:4px">Đổi mật khẩu</button></p>
}

